@model Personnel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex row justify-content-between mt-5 mb-5">
    <div class="col-9">
        <h2>@Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom)</h2>

    </div>
    <div class="col">

        <a asp-action="ConfirmDeletePersonnel" asp-route-id="@Model.Id" class="btn btn-danger">Supprimer</a>
        <a asp-action="Modif" asp-route-id="@Model.Id" class="btn btn-success">Modifier</a>

    </div>
</div>
<div>

    <a asp-action="Index" class="btn btn-outline-success">Retourner à la liste du personnel</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Metier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Metier)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Specialisation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Specialisation)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.ListeAnimaux.Count > 0)
    {
        <h3 class="mt-5 mb-3"> Les animaux dont peut s'occuper @Model.Nom @Model.Prenom </h3>

        <div class="row">
            @foreach (var animal in ViewBag.ListeAnimaux)
            {
                <div class=" col-4 card ml-4 mb-5 " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@animal.Nom</h5>
                        <p class="card-text">@animal.Nom est un(e) @animal.Espece
                        </p>
                        <a class="btn btn-success" asp-controller="Animal" asp-action="Details" asp-route-id="@animal.Id">Plus
                            de
                            détails</a>
                    </div>
                </div>
            }

        </div>
    }
    @if (ViewBag.ListeAnimaux.Count == 0)
    {
        <h4 class="mt-5 mb-3"> Ce personnel ne peut s'occuper d'aucun animal pour l'instant </h4>
        <p>Veuillez ajouter un nouvel animal en lui assignant le type correspondant à la spécialisation de @Model.Prenom
            @Model.Nom</p>

        <div>
            <a asp-controller="Animal" asp-action="Create" class="btn btn-success">Ajouter un animal</a>
        </div>
    }




</div>
